<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="sysloghost" value="gcsmon01.ciscloud"/>
    <add key="syslogport" value="5145"/>
    <add key="syslogtransport" value="tcp"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
